@using MvcBT.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<MvcBT.Models.SACH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ĐÂY LÀ TRANG ADMIN</h2>
 

